@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700,italic,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Anton:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald:700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #1d1a55;
  line-height: 1;
  font-family: "Open Sans",sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Open Sans",sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 72.5rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap
}
.menu__item {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase
}
.splide {
  z-index: 2
}
.splide__track {
  overflow: visible
}
.splide__arrows {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: end;
  gap: .9375rem
}
.splide__arrow {
  align-items: start;
  position: relative;
  background: 0 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  height: auto;
  opacity: 1;
  padding: 0;
  top: auto;
  bottom: 0;
  -webkit-transform: none;
  transform: none;
  width: auto;
  z-index: 1;
  line-height: 1.2;
  padding: 1.0625rem .875rem;
  color: #005da9;
  font-weight: 600;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: .75rem;
  transition: all .3s
}
.splide__arrow svg path {
  width: 1.5rem;
  height: .75rem
}
.splide__arrow--prev {
  left: 0
}
.splide__arrow--prev svg {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg)
}
.splide__arrow--next {
  right: 0
}
.splide__arrow--next svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.splide__arrows--ttb .splide__arrow {
  left: 0;
  -webkit-transform: none;
  transform: none
}
.splide__pagination {
  bottom: 1.75rem;
  left: 0;
  padding: 0;
  bottom: 0;
  flex-grow: 1;
  position: relative;
  z-index: 1;
  align-items: center;
  gap: .75rem;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  margin: 0
}
.splide__pagination:has(> :only-child) {
  visibility: hidden
}
.splide__pagination-page {
  border: 0;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  transition: background-color .3s;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  background: #fff;
  opacity: .5
}
.splide__pagination-page.is-active {
  opacity: 1
}
.splide__slide.is-active {
  border: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.footer__link,
.menu__link {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color .3s
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: padding .3s;
  background-color: #005da9
}
.footer {
  background-color: #005da9
}
.footer__container {
  display: flex;
  gap: .9375rem
}
.footer__logo {
  width: 2.6875rem;
  height: 2.6875rem;
  flex-shrink: 0
}
.footer__contacts {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  row-gap: .25rem;
  justify-content: end;
  align-items: center
}
.footer__link {
  display: flex;
  gap: .75rem;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-style: normal
}
.footer__link svg {
  height: 1.25rem;
  width: 1.25rem;
  flex-shrink: 0
}
.about__container {
  display: grid;
  align-items: center
}
.about__title {
  background-color: #fd0;
  font-family: Anton,sans-serif;
  margin-bottom: 1.5rem
}
.about__text {
  font-weight: 600;
  line-height: 1.31
}
.about__image {
  max-width: 34.5rem;
  justify-self: center
}
.title {
  padding: .9375rem .625rem;
  display: inline-block;
  text-transform: uppercase
}
.text p:not(:last-child) {
  margin-bottom: .625rem
}
.text--white {
  color: #fff
}
.italic {
  font-style: italic
}
.bold {
  font-weight: 700
}
.bold-italic {
  font-weight: 700;
  font-style: italic
}
.clinic__container:not(:last-child) {
  margin-bottom: 6.25rem
}
.clinic__title {
  font-family: Oswald,sans-serif;
  background-color: #bee0ed;
  margin-bottom: 1.5rem
}
.clinic__text {
  font-weight: 700
}
.slider-clinic {
  position: relative;
  background-color: #015fa8
}
.slider-clinic__container {
  max-width: 83.0625rem;
  display: grid
}
.slider-clinic__text > * {
  color: #fff;
  margin-bottom: .625rem
}
.slider-clinic__title {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.4
}
.slider-clinic__title:not(:last-child) {
  margin-bottom: 1.1875rem
}
.slider-clinic__blockquote {
  color: #fff;
  font-style: italic;
  line-height: 1.4
}
.slider-clinic__blockquote p:not(:last-child) {
  margin-bottom: .9375rem
}
.slider-clinic__cite {
  color: #fff;
  font-weight: 700;
  font-style: italic;
  display: block;
  text-align: right
}
.slider-clinic__background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55%;
  pointer-events: none;
  opacity: .05
}
.slider-clinic__background--mobile {
  top: 0;
  left: 0;
  width: 100%;
  opacity: .5
}
.slider-clinic__background__text > *:last-child {
  margin-bottom: 0
}
.logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 18.085106%;
  aspect-ratio: 1/1;
  -webkit-transform: rotate(-30deg) translate(52.10084%,-14.285714%);
  transform: rotate(-30deg) translate(52.10084%,-14.285714%)
}
[data-child-slider] {
  align-self: start
}
.video-box {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  aspect-ratio: 1140/500
}
.video-box__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  scale: 1.2
}
.video-box__play {
  position: absolute;
  top: 50%;
  aspect-ratio: 1/1;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 2
}
.video-box__play img {
  transition: all .3s
}
.video-box__play._hide {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  transform: none;
  transition-delay: .3s
}
.video-box__play._hide img {
  -webkit-transform: scale(0);
  transform: scale(0)
}
.page {
  padding-top: 5.125rem
}
.page__promo-video {
  background-color: #00af9c
}
@media (min-width:47.99875em) {
  .about__container {
    grid-template-columns: 1fr 48.421053%
  }
  .slider-clinic__container {
    grid-template-columns: 1fr 45.221971%
  }
  .slider-clinic__text {
    padding-bottom: 1.875rem
  }
  .slider-clinic__background--mobile {
    display: none
  }
  [data-child-slider] {
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%)
  }
}
@media (min-width:72.5em) {
  .menu__list {
    gap: 2.5rem
  }
  .footer {
    padding-top: 1.625rem
  }
  .footer {
    padding-bottom: 1.625rem
  }
  .footer__contacts {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .about__container {
    gap: 8.375rem
  }
  .title {
    font-size: 6rem
  }
  .clinics__item:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .clinic__text {
    font-size: 1.5rem
  }
  .slider-clinic__container {
    gap: 4.375rem
  }
  .slider-clinic__text {
    padding-top: 5.625rem
  }
  .slider-clinic__blockquote:not(:last-child) {
    margin-bottom: 2.25rem
  }
  .video-box__play {
    width: 9.3125rem
  }
  .page__image {
    margin-bottom: 3.75rem
  }
  .page__about {
    margin-bottom: 3.75rem
  }
  .page__clinics:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .page__promo-video {
    margin-bottom: 4.125rem
  }
}
@media (max-width:25em) {
  .menu__list {
    justify-content: space-between
  }
  .menu__item {
    font-size: .875rem
  }
  .header {
    padding-top: 1rem;
    padding-bottom: 1rem
  }
  .page {
    padding-top: 2.875rem
  }
}
@media (max-width:20em) {
  .menu__list {
    gap: 1.5625rem
  }
  .footer {
    padding-top: .75rem
  }
  .footer {
    padding-bottom: .75rem
  }
  .footer__contacts {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .title {
    font-size: 3rem
  }
  .clinics__item:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .clinic__text {
    font-size: 1rem
  }
  .slider-clinic__container {
    gap: 1.875rem
  }
  .slider-clinic__blockquote:not(:last-child) {
    margin-bottom: .9375rem
  }
  .video-box__play {
    width: 3.75rem
  }
  .page__image {
    margin-bottom: 1.875rem
  }
  .page__about {
    margin-bottom: 1.875rem
  }
  .page__clinics:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .page__promo-video {
    margin-bottom: 1.875rem
  }
}
@media (max-width:47.99875em) {
  .splide__arrow {
    padding-top: .1875rem;
    padding-bottom: .1875rem
  }
  .splide__list {
    align-items: flex-end
  }
  .footer__link svg {
    height: 1rem;
    width: 1rem
  }
  .about__container {
    gap: 1.5rem
  }
  .clinic__container:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .slider-clinic {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem
  }
  .slider-clinic__container .slider-clinic__text {
    order: -1
  }
  .slider-clinic__background {
    display: none
  }
  .slider-clinic__background--mobile {
    display: block
  }
  .logo {
    display: none
  }
  [data-child-slider] {
    margin-left: -.9375rem;
    margin-right: -.9375rem
  }
  .video-box {
    aspect-ratio: 342/200
  }
}
@media (min-width:20em) and (max-width:72.5em) {
  @supports (gap:clamp(1.5625rem ,1.2053571429rem + 1.7857142857vw ,2.5rem)) {
    .menu__list {
      gap: clamp(1.5625rem ,1.2053571429rem + 1.7857142857vw ,2.5rem)
    }
  }
  @supports not (gap:clamp(1.5625rem ,1.2053571429rem + 1.7857142857vw ,2.5rem)) {
    .menu__list {
      gap: calc(1.5625rem + .9375 * (100vw - 20rem)/ 52.5)
    }
  }
  @supports (padding-top:clamp(0.75rem ,0.4166666667rem + 1.6666666667vw ,1.625rem)) {
    .footer {
      padding-top: clamp(.75rem ,.4166666667rem + 1.6666666667vw ,1.625rem)
    }
  }
  @supports not (padding-top:clamp(0.75rem ,0.4166666667rem + 1.6666666667vw ,1.625rem)) {
    .footer {
      padding-top: calc(.75rem + .875 * (100vw - 20rem)/ 52.5)
    }
  }
  @supports (padding-bottom:clamp(0.75rem ,0.4166666667rem + 1.6666666667vw ,1.625rem)) {
    .footer {
      padding-bottom: clamp(.75rem ,.4166666667rem + 1.6666666667vw ,1.625rem)
    }
  }
  @supports not (padding-bottom:clamp(0.75rem ,0.4166666667rem + 1.6666666667vw ,1.625rem)) {
    .footer {
      padding-bottom: calc(.75rem + .875 * (100vw - 20rem)/ 52.5)
    }
  }
  @supports ((-moz-column-gap:clamp(0.625rem ,-0.3273809524rem + 4.7619047619vw ,3.125rem)) or (column-gap:clamp(0.625rem ,-0.3273809524rem + 4.7619047619vw ,3.125rem))) {
    .footer__contacts {
      -webkit-column-gap: clamp(.625rem ,-.3273809524rem + 4.7619047619vw ,3.125rem);
      -moz-column-gap: clamp(.625rem ,-.3273809524rem + 4.7619047619vw ,3.125rem);
      column-gap: clamp(.625rem ,-.3273809524rem + 4.7619047619vw ,3.125rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.625rem ,-0.3273809524rem + 4.7619047619vw ,3.125rem)) or (column-gap:clamp(0.625rem ,-0.3273809524rem + 4.7619047619vw ,3.125rem))) {
    .footer__contacts {
      -webkit-column-gap: calc(.625rem + 2.5 * (100vw - 20rem)/ 52.5);
      -moz-column-gap: calc(.625rem + 2.5 * (100vw - 20rem)/ 52.5);
      column-gap: calc(.625rem + 2.5 * (100vw - 20rem)/ 52.5)
    }
  }
  @supports (font-size:clamp(3rem ,1.8571428571rem + 5.7142857143vw ,6rem)) {
    .title {
      font-size: clamp(3rem ,1.8571428571rem + 5.7142857143vw ,6rem)
    }
  }
  @supports not (font-size:clamp(3rem ,1.8571428571rem + 5.7142857143vw ,6rem)) {
    .title {
      font-size: calc(3rem + 3 * (100vw - 20rem)/ 52.5)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,1.1607142857rem + 3.5714285714vw ,3.75rem)) {
    .clinics__item:not(:last-child) {
      margin-bottom: clamp(1.875rem ,1.1607142857rem + 3.5714285714vw ,3.75rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,1.1607142857rem + 3.5714285714vw ,3.75rem)) {
    .clinics__item:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem)/ 52.5)
    }
  }
  @supports (font-size:clamp(1rem ,0.8095238095rem + 0.9523809524vw ,1.5rem)) {
    .clinic__text {
      font-size: clamp(1rem ,.8095238095rem + .9523809524vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.8095238095rem + 0.9523809524vw ,1.5rem)) {
    .clinic__text {
      font-size: calc(1rem + .5 * (100vw - 20rem)/ 52.5)
    }
  }
  @supports (gap:clamp(1.875rem ,0.9226190476rem + 4.7619047619vw ,4.375rem)) {
    .slider-clinic__container {
      gap: clamp(1.875rem ,.9226190476rem + 4.7619047619vw ,4.375rem)
    }
  }
  @supports not (gap:clamp(1.875rem ,0.9226190476rem + 4.7619047619vw ,4.375rem)) {
    .slider-clinic__container {
      gap: calc(1.875rem + 2.5 * (100vw - 20rem)/ 52.5)
    }
  }
  @supports (margin-bottom:clamp(0.9375rem ,0.4375rem + 2.5vw ,2.25rem)) {
    .slider-clinic__blockquote:not(:last-child) {
      margin-bottom: clamp(.9375rem ,.4375rem + 2.5vw ,2.25rem)
    }
  }
  @supports not (margin-bottom:clamp(0.9375rem ,0.4375rem + 2.5vw ,2.25rem)) {
    .slider-clinic__blockquote:not(:last-child) {
      margin-bottom: calc(.9375rem + 1.3125 * (100vw - 20rem)/ 52.5)
    }
  }
  @supports (width:clamp(3.75rem ,1.630952381rem + 10.5952380952vw ,9.3125rem)) {
    .video-box__play {
      width: clamp(3.75rem ,1.630952381rem + 10.5952380952vw ,9.3125rem)
    }
  }
  @supports not (width:clamp(3.75rem ,1.630952381rem + 10.5952380952vw ,9.3125rem)) {
    .video-box__play {
      width: calc(3.75rem + 5.5625 * (100vw - 20rem)/ 52.5)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,1.1607142857rem + 3.5714285714vw ,3.75rem)) {
    .page__image {
      margin-bottom: clamp(1.875rem ,1.1607142857rem + 3.5714285714vw ,3.75rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,1.1607142857rem + 3.5714285714vw ,3.75rem)) {
    .page__image {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem)/ 52.5)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,1.1607142857rem + 3.5714285714vw ,3.75rem)) {
    .page__about {
      margin-bottom: clamp(1.875rem ,1.1607142857rem + 3.5714285714vw ,3.75rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,1.1607142857rem + 3.5714285714vw ,3.75rem)) {
    .page__about {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem)/ 52.5)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,1.1607142857rem + 3.5714285714vw ,3.75rem)) {
    .page__clinics:not(:last-child) {
      margin-bottom: clamp(1.875rem ,1.1607142857rem + 3.5714285714vw ,3.75rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,1.1607142857rem + 3.5714285714vw ,3.75rem)) {
    .page__clinics:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem)/ 52.5)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,1.0178571429rem + 4.2857142857vw ,4.125rem)) {
    .page__promo-video {
      margin-bottom: clamp(1.875rem ,1.0178571429rem + 4.2857142857vw ,4.125rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,1.0178571429rem + 4.2857142857vw ,4.125rem)) {
    .page__promo-video {
      margin-bottom: calc(1.875rem + 2.25 * (100vw - 20rem)/ 52.5)
    }
  }
}
@media (min-width:47.99875em) and (max-width:72.5em) {
  @supports (gap:clamp(1.5rem ,-11.9683498291rem + 28.0597928677vw ,8.375rem)) {
    .about__container {
      gap: clamp(1.5rem ,-11.9683498291rem + 28.0597928677vw ,8.375rem)
    }
  }
  @supports not (gap:clamp(1.5rem ,-11.9683498291rem + 28.0597928677vw ,8.375rem)) {
    .about__container {
      gap: calc(1.5rem + 6.875 * (100vw - 47.99875rem)/ 24.50125)
    }
  }
  @supports (padding-top:clamp(0.9375rem ,-8.2454657926rem + 19.1316769553vw ,5.625rem)) {
    .slider-clinic__text {
      padding-top: clamp(.9375rem ,-8.2454657926rem + 19.1316769553vw ,5.625rem)
    }
  }
  @supports not (padding-top:clamp(0.9375rem ,-8.2454657926rem + 19.1316769553vw ,5.625rem)) {
    .slider-clinic__text {
      padding-top: calc(.9375rem + 4.6875 * (100vw - 47.99875rem)/ 24.50125)
    }
  }
}
@media (any-hover:hover) {
  .footer__link:hover,
  .menu__link:hover {
    text-decoration-color: inherit
  }
  .video-box__play:hover img {
    -webkit-transform: scale(.9);
    transform: scale(.9)
  }
  .video-box__play._hide:hover img {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
}